.login {
	font-family: $font-family;
	display: flex;
	flex-direction: column;
	&_logo{

		height: 20px;
		margin: 3px 0 2px 10.7px;
		font-family: Nunito;
		font-size: 20px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1;
		letter-spacing: 0.4px;
		color: $charcoal-text-color;
	}

	&_heading {

  height: 108px;
  font-family: Nunito;
  font-size: 40px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: var(--black);
	}
}