// _variables.scss

// primary colors
$primary-color: #30be76;
$primary-border-color: #30be76;
$primary-text-color: #030f09;

// text colors
$grey-text-color: #606060;
$white-text-color: #ffffff;
$green-text-color: #30be76;
$charcoal-text-color: #363837;

$secondary-color: #2ecc71;
$font-family: 'Nunito', sans-serif;


// background colors
$primary-background-color: #ffffff;
$secondary-background-color: #242424;