@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #30be76;
  --main-color-2: #f8b449;
  --subtle-accent: rgba(48, 190, 118, 0.2);
  --black: #030f09;
  --charcoal: #363837;
  --black-2: #767676;
  --white: #fff;
  --brown-grey: #a8a8a8;
  --gray-1: #ccc;
  --gray-2: #e6e6e6;
  --red: #f84971;
  --light-bg: #f7f8fa;
  --modal-overlay: rgba(40, 41, 40, 0.4);
  --recipe-card-header: rgba(255, 255, 255, 0.95);
  --brownish-grey: #606060;
}

@font-face {
  font-family: 'Nunito';
  src: local('../assets/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('../assets/fonts/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('../assets/fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('../assets/fonts/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('../assets/fonts/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Nunito';
  src: local('../assets/fonts/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translateY(-100%);
  font-size: 0.7rem;
}

input[type='text'] {
  @apply text-base;
}
input[type='number'] {
  font-size: 16px;
}

input:focus {
  outline: none;
}

// h2 {
//   font-size: 2rem;
//   font-weight: bold;
//   font-stretch: normal;
//   font-style: normal;
//   line-height: 1;
//   letter-spacing: normal;
//   color: 'var(--black)';
// }

// h5 {
//   font-family: Nunito;
//   font-size: 1rem;
//   font-weight: bold;
//   font-stretch: normal;
//   font-style: normal;
//   line-height: normal;
//   letter-spacing: normal;
//   color: 'var(--black)';
// }

// // Global styles
// body {
//   margin: 0;
//   padding: 0;
// }

// :root {
//   font-family: $font-family, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
//   line-height: 1.5;
//   font-weight: 400;

//   color-scheme: light dark;
//   color: rgba(255, 255, 255, 0.87);
//   background-color: $secondary-background-color;

//   font-synthesis: none;
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-text-size-adjust: 100%;
// }

// @media (prefers-color-scheme: light) {
//   :root {
//     color: $primary-text-color;
//     background-color: $primary-background-color;
//   }
// }
